body{
  background-color: white;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  /* width:800px; */
  margin: 0;
  color: #40514E;


}
h2{

  margin: 50px auto 50px auto;
font-size: 2em;
  color: #66BFBF;

}
h3{
  color: #11999E;
  margin: 30px auto;
}
a{color: #11999E;}
p{
  line-height: 2rem;
}
hr{
margin: 100px auto;
border: dotted #EAf6f6 6px;
border-bottom: none;
width: 5%;
}

/* //Cloud Style */
.cloud-top{

  position: absolute;
 right: 20%;
 top:10%;
}
.cloud-bottom{

 position: absolute;
 left:  20%;
 bottom: 45%;
}
.intro{
  margin: 20px auto 20px auto;
  width: 30%;
  line-height: 2;
}
.pro{
  text-decoration: underline;

}
.pro-1{

  font-size:2.5rem;
  font-weight: normal;
}
.max{
  color: #222831;

}
/* Container Style */
.top-container{

  padding-top: 50px;
  position: relative;
  background-color: #EAF6F6;
}
.middle-container{
  margin:  100px;

}

.bottom-container{
  height: 200px;
  background-color: #66BFBF;

}
.profile{
  margin-bottom: 20px;
}


.max{
  color: #66BFBF;

  font-size: 4.375rem;
  font-family: 'Sacramento', cursive;
  position: relative;
  margin: 100px auto 0 auto;
}



.profile-img{
  width: 150px;
  height: 150px;
}
.Web-Design-image{
  width: 25%;
  float: left;
  margin-right: 30px;


}
.Lighting-Design-image{
  width: 25%;
  float: right;
  margin-left: 30px;



}
.skills{
  margin: 50px auto;
}
.skill-Web-Design{
margin: 150px auto 200px auto;
  width: 50%;
  height: 50%;
  text-align: left;

}
.skill-Lighting-Design{
margin: 150px auto 150px auto;
  width: 50%;
  height: 50%;
  text-align: left;

}
.contact-message{
  margin: 40px auto 60px;
  width: 40%;

}
.btn {
  background: #11cdd4;

  background-image: linear-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Mulish', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image:linear-gradient(top, #30e3cb, #2bc4ad);

  text-decoration: none;
}
.footer-link{
  margin: auto 20px;
  position: relative;
  top: 80px;
  color: #11999E;
}
.trade-mark{
  position: relative;
  top: 100px;
  color: #EAF6F6;
}
